[submodule "frontend"]
	path = frontend
	url = https://github.com/pyandcpp-coder/Shikshak_Sahayak_Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/pyandcpp-coder/Shikshak_Sahayak_Backend.git
